/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  padding-top: 3rem;
 
  color: #5a5a5a;
}

main {
  background-color: #fcfcfc;
}

/*navbar*/
div.container-fluid {
  margin-bottom: 0.5rem;
}



img.julio.d-block.w-30 {
  width: 30% !important;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  border: solid #f0ad4e 5px;
  box-shadow: 5px 5px 10px;
  margin-top: -4rem;
}

h2.fw-normal {
  padding: 0.5rem;
}


/*hero*/

.hero {
  background-image: url('../assets/nicehouse.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 400px;
  position: relative;
  
  
}

.hero::before {
  content: '';
 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -99999999999;
}

.hero h1 {
  color: #fff;
  font-size: 3rem;
  margin-top: 150px;
  text-shadow: 1px 1px 1px  rgb(135, 135, 135);
}

.hero p {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 20px;
  text-shadow: 1px 1px 1px  rgb(143, 143, 143);
}

.hero .btn {
  background-color: #ff8c00;
  border-color: #ff8c00;
  
}

@media (max-width: 767px) {
  .hero h1 {
    font-size: 2rem;
  }
  
  .hero p {
    font-size: 1rem;
  }
}



/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
  margin-bottom: -2rem;
}

.marketing .col-lg-4 p {
  margin-right: 0rem;
  margin-left: 0rem;
}

/* Featurettes
------------------------- */
.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

img.featurette.d-block.w-100 {
  border-radius: 50% 50% 60% 40%/71% 24% 76% 29%;
}

/* Thin out the marketing headings */
/*Carrousel*/
div.carousel-caption.text-start {
  text-shadow: 5px 5px 15px black;
}

div.carousel-caption {
  text-shadow: 5px 5px 15px black;
}

/*social icons*/
.social-icons i:hover {
  transform: scale(1.1);
  opacity: 0.5;
}



/*Contacto*/
.row>* {
 
  margin-top: 2rem;
}


/*Cookies style*/

.notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f6f6f6;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 16px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 8px 16px rgba(0,0,0,.2);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notification-message {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

.notification-message a {
  color: #0096bf;
  text-decoration: none;
}

.notification-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-button {
  border: none;
  border-radius: 6px;
  background-color: #0096bf;
  color: #fff;
  padding: 8px 16px;
  margin: 0 8px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.notification-button:hover {
  background-color: #006c87;
}


/*Footer*/

footer {
  background-color: #212529;
  color: #fff;
  font-size: 14px;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%
}

footer p {
  margin: 0;
}

.back-to-top {
  color: #fff;
  display: inline-block;
  margin-top: 10px;
}

.back-to-top:hover {
  text-decoration: none;
}




/* RESPONSIVE CSS*/


@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (max-width: 768px) {
  .navbar-toggler {
    margin: 0 auto;    
}}


/*# sourceMappingURL=styles.css.map */