/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

main {
  background-color: #fcfcfc;
}

/*navbar*/
div.container-fluid {
  margin-bottom: 1rem;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  position: absolute;
  right: 106%;
  bottom: 1.25rem;
  /* left: 17%; */
  padding-bottom: 4.25rem;
  padding-top: 3.25rem;
  color: #fff;
  left: 17rem;
  top: 9rem;
  text-align: center;
  max-width: 75rem;
  bottom: 6rem;
}
.carousel-caption p {
  margin-left: 2rem;
}
.carousel-caption h1 {
  margin-left: 2rem;
}

img.d-block.w-100 {
  margin: 0 auto;
  max-width: 76rem;
  padding: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

img.julio.d-block.w-30 {
  width: 30% !important;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  border: solid #f0ad4e 5px;
  box-shadow: 5px 5px 10px;
}

h2.fw-normal {
  padding: 0.5rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
  transform: scale(1.3);
}

.marketing .col-lg-4 p {
  margin-right: 0rem;
  margin-left: 0rem;
}

/* Featurettes
------------------------- */
.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

img.featurette.d-block.w-100 {
  border-radius: 50% 50% 60% 40%/71% 24% 76% 29%;
}

/* Thin out the marketing headings */
/*Carrousel*/
div.carousel-caption.text-start {
  text-shadow: 5px 5px 15px black;
}

div.carousel-caption {
  text-shadow: 5px 5px 15px black;
}

/*social icons*/
.social-icons i:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption {
    position: absolute;
    right: 106%;
    bottom: 1.25rem;
    left: 17%;
    padding-bottom: 5.25rem;
    padding-top: 1.25rem;
    color: #fff;
    left: 1rem;
    top: 3rem;
    text-align: center;
    max-width: 76rem;
    bottom: 13rem;
    /* margin-bottom: 23rem; */
  }
  .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-bottom: -10rem;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 1s ease-in-out;
    height: 23rem;
  }
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    transform: scale(1);
  }
  img.d-block.w-100 {
    padding: 0rem;
  }
  .featurette-heading {
    font-size: 30px;
  }
}
.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  margin: 0 auto;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url(../assets/logoJD.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.navbar-toggler-icon .navbar-dark {
  --bs-navbar-color: rgba(255, 255, 255, 0.55);
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: #212529;
  --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3e%3cpath stroke="rgba%28255, 255, 255, 0.55%29" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e);
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
@media (max-width: 425px) {
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url(../assets/logoJD.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  .navbar-toggler-icon .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-bottom: 7rem;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 1s ease-in-out;
    height: 13rem;
  }
  .navbar-toggler-icon .carousel-caption {
    position: absolute;
    right: 106%;
    bottom: 1.25rem;
    left: 17%;
    padding-bottom: 4.25rem;
    padding-top: 0.25rem;
    color: #fff;
    left: 2rem;
    top: 4rem;
    text-align: center;
    max-width: 75rem;
    bottom: 2rem;
    /* margin-bottom: 23rem; */
  }
  .navbar-toggler-icon p.lead {
    font-size: 1rem;
    padding: 1rem;
  }
  .navbar-toggler-icon .btn {
    --bs-btn-font-size: 0.9rem;
  }
  .navbar-toggler-icon .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    transform: scale(1);
  }
  .navbar-toggler-icon .featurette-heading {
    font-size: 30px;
  }
  .navbar-toggler-icon .navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    margin: 0 auto;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
  }
  .navbar-toggler-icon .navbar-dark {
    --bs-navbar-color: rgba(255, 255, 255, 0.55);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: #212529
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3e%3cpath stroke="rgba%28255, 255, 255, 0.55%29" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e);
  }
}/*# sourceMappingURL=styles.css.map */